assets/svg/copy.svg
assets/svg/grid.svg
assets/svg/liberapay.svg
assets/svg/list.svg
assets/svg/moon.svg
assets/svg/shop.svg
assets/svg/site.svg
assets/svg/slider.svg
assets/svg/sun.svg
assets/svg/triangle-warning.svg
